@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #0a192f;
    font-family: 'Roboto Mono', monospace;
}

.header-grid-main-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60%;
    grid-template-rows: 50px;
}

.header-left-column {
    background-color: blue;
}

.header-right-column {
    background-color: blue;
}

.click-anywhere-wrap {
    display: grid;
    font-size: 20px;
    color: #00ff40e7;
    justify-content: center;
    margin-top: 15%;
}

/*#click-anywhere-text {
    font-family: 'Roboto Mono', monospace;
    transition: ease-out 400ms;
}
*/

#main-body-wrap {
    position: relative;
    display: grid;
    overflow: visible;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 65vh;
    margin-top: 5vh;
    transition: right 700ms ease-in;
    right: 0vw;
}

#name-desc-wrap {
    display: grid;
    margin-left: 100px;
    margin-top: 15vh;
    transition: all 5s linear;
    width: 800px;
    height: 170px;
}

#name-wrap {
    font-size: 60px;
    color: #00ff40e7;
    white-space: pre-wrap;
}
/*#00ff40e7*/
#description-paragraph-wrap {
    font-size: 20px;
    color: #00ff40e7;
    width: 800px;
}

#description-paragraph {
    display: none;
}

#projects-main-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
   }

#projects-wrap {

position: relative;
 display: grid;
 width: 80vw;
 grid-template-columns: 1fr;
 grid-template-rows: 100%;
overflow-y: scroll;
left: 5%;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

.project {
    display: grid;
    background-color: green;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65vh;
    text-align: center;
    width: 75vw;
    height: 65vh;
}

#project-column-left {
    display: grid;
    overflow: visible;
    align-content: center;
    justify-content: center;
}

#project-column-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    align-content: center;
}

.project-image {
    position: relative;
    width: 450px;
    height: 300px;
    left: 40%;
}

.project-title { 
    color: white;
    width: fit-content;
    height: fit-content;
    justify-self: end;
}

.project-description {
    text-align: right;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    font-size: 14px;
    background-color: #112240;
    z-index: 2;
}

.project-technologies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    color: white;
    justify-self: end;
    width: max-content;
    height: 50px;
}

.technology {
    width: fit-content;
    height: fit-content;
}

.span {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#navigation-main-wrap {
    display: none;
    margin-top: 5vh;
    grid-template-columns: 1fr;
    justify-content: center;
   
}

#navigation-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.nav-option {
    width: fit-content;
    color: white;
    text-align: center;
    cursor: default;
}

#underliner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5px;
    align-content: center;
}

#underliner {
    position: relative;
    background-color: #00ff40e7;
    height: 1px;
    width: 0px;
    transition: all 600ms ease-in;
}
