* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #030303;
    font-family: 'Courier New', Courier, monospace;
}

.click-anywhere-wrap {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 900px;
    height: 200px;
    font-size: 20px;
    color: #00FF41;
}

#click-anywhere-text {
    transition: ease-out 400ms;
}

.name-wrap {
    position: absolute;
    display: none;
    top: 20%;
    left: 20%;
    width: 900px;
    height: 200px;
    font-size: 80px;
    color: #00FF41;
}

.projects-main-wrap {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
}

#projects-wrap {
    position: relative;
    display: none;
    top: 10%;
    left: 10%;
    background-color: #0D0208;
    width: 100px;
    height: 50px;
    text-align: center;
}

 .projects-wrap span {
     position: relative;
     top: 35%;
     color: #00FF41;
     font-size: 30px;7
}

#resume-wrap {
    position: absolute;
    display: none;
    top: 35%;
    left: 35%;
    background-color: #0D0208;
    width: 100px;
    height: 50px;
    text-align: center;  
}

.resume-wrap span {
    position: relative;
    top: 35%;
    color: #00FF41; 
    font-size: 30px;
}

#ordernow-wrap {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background-color: #0D0208;
    width: 200px;
    height: 50px;
    text-align: center;  
}

.ordernow-wrap span {
    position: relative;
    top: 35%;
    color: #00FF41; 
    font-size: 30px;
}