@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #030303;
    font-family: 'Roboto Mono', monospace;
}

.header-grid-main-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60%;
    grid-template-rows: 50px;
}

.header-left-column {
    background-color: blue;
}

.header-right-column {
    background-color: blue;
}

.click-anywhere-wrap {
    display: grid;
    font-size: 20px;
    color: #00FF41;
    justify-content: center;
    margin-top: 15%;
}

/*#click-anywhere-text {
    font-family: 'Roboto Mono', monospace;
    transition: ease-out 400ms;
}
*/

#main-body-wrap {
    display: grid;
    background-color: blue;
    grid-template-columns: 100vw 0vw;
    grid-template-rows: 200px;
    transition: all 5s linear;
    margin-top: 7%;
}

#name-desc-wrap {
    display: grid;
    background-color: green;
    margin-left: 100px;
    transition: all 5s linear;
}

#name-wrap {
    font-size: 60px;
    color: #00ff40e7;
    white-space: pre-wrap;
}

#description-paragraph-wrap {
    font-size: 20px;
    color: #00ff40e7;
    width: 700px;
}

#description-paragraph {
    display: none;
}

#projects-wrap {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 200px 200px;
}

.project {
    background-color: green;
}

.span {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#navigation-main-wrap {
    display: none;
    margin-top: 13%;
    grid-template-columns: 1fr;
    justify-content: center;
   
}

#navigation-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.nav-option {
    width: fit-content;
    color: white;
    text-align: center;
    cursor: default;
}

#underliner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5px;
    align-content: center;
}

#underliner {
    position: relative;
    background-color: greenyellow;
    height: 1px;
    width: 0px;
    transition: all 600ms ease-in;
}
